<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="bookmark" href="/favicon.ico" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="./version.css" />
  <script src="./iconfont.js"></script>
  <script>
    // 版本跳转页。根据后端返回的不同版本，跳转到对应的版本中。
    var AUTH_LINT = '{{versionPath}}'; // 这里写who接口的地址，一般是API上下文+who。
    var MIN_VERSION = '0.0.0'
  </script>
</head>

<body>
  <div class="content" id="loading">
  </div>
  <div id="result" class="hide">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-jinggao"></use>
    </svg>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title" id="error_title"></h2>
      <p class="weui-msg__desc">
        <p id="error_info"></p>
      </p>
    </div>
  </div>
  <script src="/vue-vendor/axios/0.16.2/axios.min.js"></script>
  <script>
    function getUrlToken() {
      var QueryString = {}
      var search = window.location.search
      if (search) {
        // 虽然知道这代码有点画蛇添足，但是有同学在改造的时候，把上面的search魔改了
        // search没有问号。导致测试环境没有问题，线上有问题了。
        if (search.indexOf('?') === 0) {
          search = search.substring(1)
        }
        search = search.replace('==', '__XXXXX__') // 处理匿名登陆
        var a = search.split('&')
        for (var i = 0; i < a.length; i++) {
          var as = a[i].split('=')
          if (as.length > 1) {
            var res = as[1];
            if (res) {
              res = res.replace('__XXXXX__', '==')
            }
            QueryString[as[0]] = res
          }
        }
      }
      return QueryString
    }
    function getToken(fn, errorCallback, isLogin) {
      if (compareVersion() === -1) {
        document.getElementById('loading').className = "content hide";
        document.getElementById('result').className = "";
        document.getElementById('error_info').innerHTML = '该应用只能在校信' + MIN_VERSION + '及以后版本使用';
        document.getElementById('error_title').innerHTML = '请升级到最新版本';
        return
      }
      var QueryString = getUrlToken()
      if (QueryString.token) {  // 如果有token,则该token存在url中或者微信获取后保存的
        window.sessionStorage.setItem('querystring', JSON.stringify(QueryString))
        fn(QueryString)
      }
      else if (QueryString.host && isLogin) {
        window.sessionStorage.setItem('querystring', JSON.stringify(QueryString))
        fn(QueryString)
      }
      else if (QueryString.corpid && QueryString.code) {  // 从微信中获取
        axios.get('/qyapi/who?' + 'corpid=' + QueryString.corpid + '&code=' + QueryString.code + '&noCache=' + (new Date().getTime()))
          .then(function (res) {
            if (res && res.data && res.data.token && res.data.apiServer) {
              res.data.host = res.data.apiServer
              QueryString = res.data
              window.sessionStorage.setItem('querystring', QueryString)
              fn(res.data)
            }
            else {
              errorCallback({
                message: '你未获得授权，请联系管理员'
              })
            }
          })
          .catch(function () {
            errorCallback({
              message: '连接认证服务器失败，请稍后重试'
            })
          })
      }
      else {   // 如果URL上没有参数，从sessionStorage取初次进入app的参数。如果也没有，则表示是第一次进入app就没有带必要的参数
        var querystring = window.sessionStorage.getItem('querystring')
        try {
          querystring = JSON.parse(querystring)
          if (querystring && querystring.token) {
            fn(querystring)
          }
          else {
            errorCallback({
              message: '访问地址缺少必要参数'
            })
          }
        }
        catch (e) {
          errorCallback({
            message: '访问地址缺少必要参数'
          })
        }
      }
    }
    getToken(function (result) {
      axios.get(AUTH_LINT, {
        headers: {
          'Authorization': 'bearer ' + result.token,
          'x-api-server': result.host
        }
      })
      .then(function (res) {
        if (res.data) {
          var data = res.data
          var location = window.location // 统一处理，将参数存入sessionStorage中的querystring，用于解决带有参数进入页面的时候，出现的参数冲突的问题
          var pathname = location.pathname
          if (!/\/$/.test(pathname)) {
            pathname = pathname + '/'
          }
          if (data && data.version) {
            var version = data.version
            window.location.replace(location.protocol + '//' + location.host + pathname + version + '/?token=' + result.token + '&host=' + result.host)
          }
          else {
            window.location.replace(location.protocol + '//' + location.host + pathname + '1.0.0/?token=' + result.token + '&host=' + result.host)
          }
        }
      })
      .catch(function (e) {
        // 这里表示版本获取失败了之后跳转默认版本，例如之前没有版本，现在有版本了。
        // 那么后台给的版本号应该是1.1.0, 当获取这个who接口失败的时候，就是说当前
        // 环境是没有版本的，那么就默认跳转1.0版本。
        // 这种情况也同理可以涉及到拆包处理。
        var location = window.location
        var pathname = location.pathname
        if (!/\/$/.test(pathname)) {
          pathname = pathname + '/'
        }
        window.location.replace(location.protocol + '//' + location.host + pathname + '1.0.0/?token=' + result.token + '&host=' + result.host)
      })
    }, function (msg) {
      document.getElementById('loading').className = "content hide"
      document.getElementById('result').className = ""
      document.getElementById('error_info').innerHTML = msg.message
      document.getElementById('error_title').innerHTML = '访问出错'
    })
    function compareVersion() {
      var versionA = '0.0.0'
      if (window.mCall) {
        versionA = window.mCall.getVersion();
      }
      versionA = versionA.split('.');
      var versionB = MIN_VERSION.split('.');
      for (var i = 0; i < versionA.length; i++) {
        var n1 = Number(versionA[i]) || 0;
        var n2 = Number(versionB[i]) || 0;
        if (n1 - n2 !== 0) {
          return (n1 - n2) > 0 ? 1 : -1;
        }
      }
      return 0
    }
  </script>
</body>

</html>